# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
TheTower_venv/
venv/
env/

# macOS
.DS_Store

# IDE / VS Code
.vscode/

# Jupyter cache
*.ipynb_checkpoints

# DO NOT ignore your project images or csv (you need them)
# So we remove the old *.png and *.csv rules

# Logs
*.log

# Appium / Xcode build artifacts
build/
DerivedData/

# WebDriverAgent should NOT be committed
WebDriverAgent/